/* Styles for AddNotice component */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #f3f4f6;
    padding: 60px;
}

.header {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 140px;
    color: #14335f;
    width: 100%;
}

.form-wrapper {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.form-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.message {
    text-align: center;
    color: green;
    margin-bottom: 10px;
}

.notice-form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 15px;
    width: 100%;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.submit-button {
    background-color: #3b82f6;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.submit-button:hover {
    background-color: #2563eb;
}
